<div class="page-banner-area">
    <div class="container-width">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <h1>
                    {{ bannerService.currentH1Title }}
                </h1>
            </div>
            <div class="col-lg-4 col-md-12">
                <ul class="ps-0 mb-0 list-unstyled">
                    <li class="d-inline-block position-relative link">
                        <a routerLink="/">
                            Home
                        </a>
                    </li>

                    <span>.</span>

                    <li class="d-inline-block position-relative link">
                        <a [routerLink]="bannerService.currentLi1Link">
                            {{ bannerService.currentLi1Title }}
                        </a>
                    </li>

                    <span>.</span>

                    <li class="d-inline-block position-relative">
                        {{ bannerService.currentLi2Title }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>