.main {
    width: 90%;
    margin: auto;
}

.jove-grid-sorting {
    margin-bottom: 2.2vw;

    .result-count {
        p {
            font-size: 1.1vw;
            font-family: 'mon-reg';
            margin-bottom: 0;

            .count {
                font-family: 'mon-semi';
                color: var(--headingColor);
            }
        }
    }

    .ordering {
        text-align: end;

        label {
            color: var(--bodyColor);
            display: inline-block;
            font-size: 1.1vw;
            font-family: 'mon-reg';

            margin: {
                right: 5px;
                bottom: 0;
            }

            ;
        }

        select {
            height: 3.3vw;
            width: 13vw;
            cursor: pointer;
            box-shadow: unset;
            padding: 0 0 0 1vw;
            display: inline-block;
            border-color: #eeeeee;
            color: var(--headingColor);
            background-color: #f8f8f8;
            transition: var(--transition);
            font-size: 1.1vw;
            font-family: 'mon-reg';

            &:hover {
                border-color: #3a4e90;
                background-color: transparent;
            }
        }
    }
}

.single-candidate-box {
    padding: 2.2vw;
    margin-bottom: 2.2vw;
    border-radius: 1.1vw;
    background-color: var(--whiteColor);
    border: 1px solid var(--borderColor);

    .image {
        width: 6.5vw;

        img {
            width: 100%;
            height: 6.5vw;
            object-fit: cover;
        }
    }

    .content {
        margin-left: 1.2vw;

        h3 {
            font-size: 1.1vw;
            font-family: 'mon-semi';
            margin-bottom: 0.45vw;
            color: black;
        }

        .designation {
            margin-bottom: 0.45vw;
            font-size: 1vw;
            font-family: 'mon-reg';
            color: black;
        }

        .location {
            font-size: 1vw;
            font-family: 'mon-reg';

            span {
                color: #4086f6;
            }
        }
    }

    .view-profile {
        span {
            margin-right: 2.2vw;
            font-size: 1.1vw;
            font-family: 'mon-semi';
        }

        .default-btn {
            padding: 0.7vw 2.5vw 0.85vw;
            font-size: 1vw;
            font-family: 'mon-reg';
        }
    }
}

.candidates-area{
    padding: 7.5vw 0 3vw;
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .jove-grid-sorting {
        text-align: center;

        .ordering {
            text-align: center;
            margin-top: 12px;
        }
    }

    .single-candidate-box {
        padding: 15px;
        border-radius: 5px;
        text-align: center;

        .image {
            margin: {
                left: auto;
                right: auto;
            }

            ;
        }

        .content {
            margin: {
                left: 0;
                top: 15px;
            }

            ;

            h3 {
                font-size: 16px;
            }
        }

        .view-profile {
            span {
                margin: {
                    right: 0;
                    top: 10px;
                    bottom: 10px;
                }

                ;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .single-candidate-box {
        text-align: start;

        .content {
            margin: {
                left: 15px;
                top: 0;
            }

            ;
        }

        .view-profile {
            span {
                margin: {
                    right: 15px;
                    bottom: 0;
                    top: 0;
                }

                ;
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .single-candidate-box {
        padding: 20px;
        border-radius: 10px;

        .content {
            margin-left: 17px;
        }

        .view-profile {
            span {
                margin-right: 20px;
            }
        }
    }

}
