<!-- Modal -->
<div class="modal fade loginRegisterModal" tabindex="-1" aria-hidden="true" *ngIf="isOpen">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="nav nav-tabs d-block border-0">
                    <li class="nav-item d-inline-block" [ngClass]="{'active': currentTab === 'tab1'}">
                        <button type="button" class="nav-link fw-semibold position-relative shadow-none mb-0 rounded-0"
                            (click)="switchTab($event, 'tab1')">
                            Login
                        </button>
                    </li>
                    <li class="nav-item d-inline-block" [ngClass]="{'active': currentTab === 'tab2'}">
                        <button type="button" class="nav-link fw-semibold position-relative shadow-none mb-0 rounded-0"
                            (click)="switchTab($event, 'tab2')">
                            Register
                        </button>
                    </li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane fade d-block opacity-100" *ngIf="currentTab === 'tab1'">
                        <div class="info">
                            <p>
                                Username: <span class="fw-semibold">employer</span> or <span
                                    class="fw-semibold">candidate</span>
                            </p>
                            <p>
                                Password: <span class="fw-semibold">jove</span>
                            </p>
                        </div>
                        <form class="authentication-form" [formGroup]="candidateLogin"  (ngSubmit)="loginCandidate()">
                            <div class="form-group">
                                <label>
                                    Account or Email
                                </label>
                                <input type="text" class="form-control shadow-none" formControlName="email" placeholder="Enter account or email" required>
                                <div *ngIf="(candidateLogin.get('email')?.invalid || candidateLogin.get('email')?.touched) && LoginCandidate" class="text-danger">
                                    <small *ngIf="candidateLogin.get('email')?.errors?.['required']">Email is required.</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    Password
                                </label>
                                <input type="password" class="form-control shadow-none" formControlName="password" placeholder="Enter password" required>
                                <div *ngIf="(candidateLogin.get('password')?.invalid || candidateLogin.get('password')?.touched) && LoginCandidate" class="text-danger">
                                    <small *ngIf="candidateLogin.get('password')?.errors?.['required']">Password is required.</small>
                                </div>
                            </div>
                            <div class="form-group forgot-password">
                                Forgot your password? <a routerLink="/reset-pass">Reset password.</a>
                            </div>
                            <button type="submit" class="default-popup-btn d-block w-100" >
                                Login Now
                            </button>
                        </form>
                    </div>

                    <div class="tab-pane fade d-block opacity-100" *ngIf="currentTab === 'tab2'">
                        <ul class="nav nav-tabs d-block border-0">
                            <li class="nav-item d-inline-block" [ngClass]="{'active': currentInnerTab === 'innerTab1'}">
                                <button type="button" class="nav-link fw-semibold shadow-none mb-0"
                                    (click)="switchInnerTab($event, 'innerTab1')">
                                    Candidate
                                </button>
                            </li>
                            <li class="nav-item d-inline-block" [ngClass]="{'active': currentInnerTab === 'innerTab2'}">
                                <button type="button" class="nav-link fw-semibold shadow-none mb-0"
                                    (click)="switchInnerTab($event, 'innerTab2')">
                                    Employer
                                </button>
                            </li>
                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane fade d-block opacity-100" *ngIf="currentInnerTab === 'innerTab1'">
                                <form class="authentication-form" [formGroup]="CandidateloginForm" (ngSubmit)="createUserAccount()">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>
                                                    First Name
                                                </label>
                                                <input type="text" class="form-control shadow-none" formControlName="first_name" placeholder="Enter first name">
                                                <div *ngIf="(CandidateloginForm.get('first_name')?.invalid || CandidateloginForm.get('first_name')?.touched) && RegisterCandidate" class="text-danger">
                                                    <small *ngIf="CandidateloginForm.get('first_name')?.errors?.['required']">First Name is required.</small>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>
                                                    Last Name
                                                </label>
                                                <input type="text" class="form-control shadow-none" formControlName="last_name" placeholder="Enter last name">
                                                <div *ngIf="(CandidateloginForm.get('last_name')?.invalid || CandidateloginForm.get('last_name')?.touched) && RegisterCandidate" class="text-danger">
                                                    <small *ngIf="CandidateloginForm.get('last_name')?.errors?.['required']">Last Name is required.</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>
                                                    Username
                                                </label>
                                                <input type="text" class="form-control shadow-none"
                                                    placeholder="Enter username" formControlName="username">
                                                    <div *ngIf="(CandidateloginForm.get('username')?.invalid || CandidateloginForm.get('username')?.touched) && RegisterCandidate" class="text-danger">
                                                        <small *ngIf="CandidateloginForm.get('username')?.errors?.['required']">Username is required.</small>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>
                                                    Email
                                                </label>
                                                <input type="email" class="form-control shadow-none" formControlName="email" placeholder="Enter email">
                                                <div *ngIf="(CandidateloginForm.get('email')?.invalid || CandidateloginForm.get('email')?.touched) && RegisterCandidate" class="text-danger">
                                                    <small *ngIf="CandidateloginForm.get('email')?.errors?.['required']">Email is required.</small>
                                                    <small *ngIf="CandidateloginForm.get('email')?.errors?.['email']">Invalid email.</small>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Phone number
                                        </label>
                                        <input type="text" class="form-control shadow-none" formControlName="phone_number" placeholder="Enter phone number">
                                        <div *ngIf="(CandidateloginForm.get('phone_number')?.invalid || CandidateloginForm.get('phone_number')?.touched) && RegisterCandidate" class="text-danger">
                                            <small *ngIf="CandidateloginForm.get('phone_number')?.errors?.['required']">Phone number is required.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Password
                                        </label>
                                        <input type="password" class="form-control shadow-none" formControlName="password" placeholder="Enter password">
                                        <div *ngIf="(CandidateloginForm.get('password')?.invalid || CandidateloginForm.get('password')?.touched) && RegisterCandidate" class="text-danger">
                                            <small *ngIf="CandidateloginForm.get('password')?.errors?.['required']">Password is required.</small>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input shadow-none" type="checkbox"
                                            id="termsPrivacyPolicy">
                                        <label class="form-check-label" for="termsPrivacyPolicy">
                                            Accept the <a routerLink="/">Terms</a> and <a routerLink="/">Privacy
                                                Policy</a>
                                        </label>
                                    </div>
                                    <button type="submit" class="default-btn d-block w-100">
                                        Register Now
                                    </button>

                                </form>
                            </div>

                            <div class="tab-pane fade d-block opacity-100" *ngIf="currentInnerTab === 'innerTab2'">
                                <form class="authentication-form"  [formGroup]="EmployerloginForm" (ngSubmit)="createEmployerAccount()">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>
                                                    First Name
                                                </label>
                                                <input type="text" class="form-control shadow-none" formControlName="first_name" placeholder="Enter first name">
                                                <div *ngIf="(EmployerloginForm.get('first_name')?.invalid || EmployerloginForm.get('first_name')?.touched) && RegisterEmployee" class="text-danger">
                                                    <small *ngIf="EmployerloginForm.get('first_name')?.errors?.['required']">First Name is required.</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>
                                                    Last Name
                                                </label>
                                                <input type="text" class="form-control shadow-none"
                                                    placeholder="Enter name" formControlName="last_name">
                                                    <div *ngIf="(EmployerloginForm.get('last_name')?.invalid || EmployerloginForm.get('last_name')?.touched) && RegisterEmployee" class="text-danger">
                                                        <small *ngIf="EmployerloginForm.get('last_name')?.errors?.['required']">Last Name is required.</small>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>
                                                    Username
                                                </label>
                                                <input type="text" class="form-control shadow-none"
                                                    placeholder="Enter username" formControlName="username">
                                                    <div *ngIf="(EmployerloginForm.get('username')?.invalid || EmployerloginForm.get('username')?.touched) && RegisterEmployee" class="text-danger">
                                                        <small *ngIf="EmployerloginForm.get('username')?.errors?.['required']">Username is required.</small>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>
                                                    Email
                                                </label>
                                                <input type="email" class="form-control shadow-none"
                                                    placeholder="Enter email" formControlName="email">
                                                    <div *ngIf="(EmployerloginForm.get('email')?.invalid || EmployerloginForm.get('email')?.touched) && RegisterEmployee" class="text-danger">
                                                        <small *ngIf="EmployerloginForm.get('email')?.errors?.['required']">Email is required.</small>
                                                        <small *ngIf="EmployerloginForm.get('email')?.errors?.['email']">Invalid email.</small>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Phone number
                                        </label>
                                        <input type="text" class="form-control shadow-none"
                                            placeholder="Enter phone number" formControlName="phone_number">
                                            <div *ngIf="(EmployerloginForm.get('phone_number')?.invalid || EmployerloginForm.get('phone_number')?.touched) && RegisterEmployee" class="text-danger">
                                                <small *ngIf="EmployerloginForm.get('phone_number')?.errors?.['required']">Phone number is required.</small>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Password
                                        </label>
                                        <input type="text" class="form-control shadow-none"
                                            placeholder="Enter password" formControlName="password">
                                            <div *ngIf="(EmployerloginForm.get('password')?.invalid || EmployerloginForm.get('password')?.touched) && RegisterEmployee" class="text-danger">
                                                <small *ngIf="EmployerloginForm.get('password')?.errors?.['required']">Password is required.</small>
                                            </div>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input shadow-none" type="checkbox"
                                            id="termsPrivacyPolicy">
                                        <label class="form-check-label" for="termsPrivacyPolicy">
                                            Accept the <a routerLink="/">Terms</a> and <a routerLink="/">Privacy
                                                Policy</a>
                                        </label>
                                    </div>
                                    <button type="submit" class="default-btn d-block w-100">
                                        Register Now
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <button (click)="closePopup()" type="button" class="close-btn">
                    <i class="ri-close-fill"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
</div>
