// Breadcrumb Title
.breadcrumb-title {
    margin-bottom: 2vw;

    h1 {
        font-size: 1.7vw;
        font-family: "mon-bold";
        color: black;
    }
}

// Card
.jove-card {
    background-color: var(--whiteColor);
    margin-bottom: 2.2vw;
    border-radius: 1.1vw;
    padding: 2.5vw;

    .title {
        font-size: 18px;
        margin-bottom: 25px;
        border-bottom: 1px solid var(--borderColor);

        padding: {
            left: 2.5vw;
            right: 2.5vw;
            bottom: 0.85vw;
        }

        ;

        margin: {
            left: -2.5vw;
            right: -2.5vw;
        }

        ;
    }

    .recent-applicants {
        margin-bottom: -2.2vw;
    }

    .single-candidate-box {
        padding: 1.7vw;
        margin-bottom: 2.2vw;
        border-radius: 1.1vw;
        background-color: var(--whiteColor);
        border: 1px solid var(--borderColor);

        .image {
            width: 6vw;

            img {
                width: 100%;
                height: 6vw;
                object-fit: cover;
            }
        }

        .content {
            margin-left: 1.1vw;

            h3 {
                font-size: 1.3vw;
                margin-bottom: 0.35vw;
                font-family: 'mon-semi';
                color: black;
            }

            .designation {
                font-size: 1.2vw;
                margin-bottom: 0.3vw;
                font-family: 'mon-reg';
            }

            .location {
                font-size: 1.1vw;
                font-family: "mon-reg";

                span {
                    color: #4086f6;
                }
            }
        }

        .view-profile {
            font-size: 1vw;
            font-family: 'mon-bold';
            color: black;

            span {
                margin-right: 1vw;

                a {
                    text-decoration: underline;
                }
            }

            ul {
                li {
                    margin: {
                        left: 0.05vw;
                        right: 0.05vw;
                    }

                    ;

                    button {
                        padding: 0;
                        width: 2.5vw;
                        height: 2.5vw;
                        border: none;
                        cursor: pointer;
                        font-size: 1.2vw;
                        position: relative;
                        color: var(--primaryColor);
                        background-color: #f5f9fc;
                        transition: var(--transition);

                        i {
                            left: 0;
                            right: 0;
                            top: 50%;
                            position: absolute;
                            transform: translateY(-50%);
                        }

                        &:hover {
                            color: var(--whiteColor);
                            background-color: var(--primaryColor);
                        }
                    }

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    // Breadcrumb Title
    .breadcrumb-title {
        h1 {
            font-size: 20px;
        }
    }

    // Card
    .jove-card {
        border-radius: 5px;
        padding: 20px 15px;

        .title {
            font-size: 16px;
            margin-bottom: 15px;

            padding: {
                left: 15px;
                right: 15px;
                bottom: 10px;
            }

            ;

            margin: {
                left: -15px;
                right: -15px;
            }

            ;
        }

        .recent-applicants {
            margin-bottom: -15px;
        }

        .single-candidate-box {
            padding: 15px;
            border-radius: 5px;
            text-align: center;
            margin-bottom: 15px;

            .image {
                margin: {
                    left: auto;
                    right: auto;
                }

                ;
            }

            .content {
                margin: {
                    left: 0;
                    top: 15px;
                }

                ;

                h3 {
                    font-size: 16px;
                    margin-bottom: 5px;
                }

                .designation {
                    margin-bottom: 5px;
                }
            }

            .view-profile {
                span {
                    margin: {
                        bottom: 7px;
                        top: 5px;
                        right: 0;
                    }

                    ;
                }

                ul {
                    li {
                        button {
                            width: 34px;
                            height: 34px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    // Card
    .jove-card {
        .single-candidate-box {
            text-align: start;

            .image {
                margin: {
                    left: auto;
                    right: auto;
                }

                ;
            }

            .content {
                margin: {
                    left: 15px;
                    top: 0;
                }

                ;
            }

            .view-profile {
                span {
                    margin: {
                        top: 0;
                        bottom: 0;
                        right: 10px;
                    }

                    ;
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    // Breadcrumb Title
    .breadcrumb-title {
        h1 {
            font-size: 22px;
        }
    }

    // Card
    .jove-card {
        border-radius: 10px;
        padding: 25px;

        .title {
            font-size: 18px;

            padding: {
                left: 25px;
                right: 25px;
                bottom: 12px;
            }

            ;

            margin: {
                left: -25px;
                right: -25px;
            }

            ;
        }

        .single-candidate-box {
            padding: 20px;
            border-radius: 10px;

            .content {
                h3 {
                    font-size: 16px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    // Card
    .jove-card {
        padding: 25px;

        .title {
            padding: {
                left: 25px;
                right: 25px;
            }

            ;

            margin: {
                left: -25px;
                right: -25px;
            }

            ;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    // Card
    .jove-card {
        .single-candidate-box {
            padding: 25px;

            .image {
                max-width: 100px;
            }

            .content {
                margin-left: 18px;

                h3 {
                    font-size: 18px;
                }
            }

            .view-profile {
                span {
                    margin-right: 25px;
                }

                ul {
                    li {
                        margin: {
                            left: 4px;
                            right: 4px;
                        }

                        ;

                        button {
                            width: 35px;
                            height: 35px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

}