<!-- Title -->
<div class="breadcrumb-title">
    <h1 class="mb-0">
        My Resume
    </h1>
</div>

<!-- Resume -->

<div class="jove-card">
    <h3 class="title">
        Personal Details
    </h3>
    <form [formGroup]="personalDetailsForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" formControlName="first_name" class="form-control shadow-none" placeholder="Alina">
                    <div *ngIf="(personalDetailsForm.get('first_name')?.invalid || personalDetailsForm.get('first_name')?.touched) && saveDetails" class="text-danger">
                        <small *ngIf="personalDetailsForm.get('first_name')?.errors?.['required']">First Name is required.</small>
                        <small *ngIf="personalDetailsForm.get('first_name')?.errors?.['minlength']"> First Name must be atleast 3 characters long</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" formControlName="last_name" class="form-control shadow-none" placeholder="Smith">
                    <div *ngIf="(personalDetailsForm.get('last_name')?.invalid || personalDetailsForm.get('last_name')?.touched) && saveDetails" class="text-danger">
                        <small *ngIf="personalDetailsForm.get('last_name')?.errors?.['required']">Last Name is required.</small>
                        <small *ngIf="personalDetailsForm.get('last_name')?.errors?.['minlength']"> Last Name must be atleast 3 characters long</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" formControlName="email" class="form-control shadow-none" placeholder="hello@doca.com">
                    <div *ngIf="(personalDetailsForm.get('email')?.invalid || personalDetailsForm.get('email')?.touched) && saveDetails" class="text-danger">
                        <small *ngIf="personalDetailsForm.get('email')?.errors?.['required']">Email is required.</small>
                        <small *ngIf="personalDetailsForm.get('email')?.errors?.['email']">Invalid email.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" formControlName="phone_number" class="form-control shadow-none" placeholder="+1 (514) 312-5678">
                    <div *ngIf="(personalDetailsForm.get('phone_number')?.invalid || personalDetailsForm.get('phone_number')?.touched) && saveDetails" class="text-danger">
                        <small *ngIf="personalDetailsForm.get('phone_number')?.errors?.['required']">Phone number is required.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Date of birth</label>
                    <input type="date" formControlName="dob" class="form-control shadow-none">
                    <div *ngIf="(personalDetailsForm.get('dob')?.invalid || personalDetailsForm.get('dob')?.touched) && saveDetails" class="text-danger">
                        <small *ngIf="personalDetailsForm.get('dob')?.errors?.['required']">Date of birth is required.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Gender</label>
                    <select formControlName="gender" class="form-select shadow-none">
                        <option value="">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="custom">Custom</option>
                    </select>
                    <div *ngIf="(personalDetailsForm.get('gender')?.invalid || personalDetailsForm.get('gender')?.touched) && saveDetails" class="text-danger">
                        <small *ngIf="personalDetailsForm.get('gender')?.errors?.['required']">Gender is required.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Marital status</label>
                    <select formControlName="maritalStatus" class="form-select shadow-none">
                        <option value="">Select</option>
                        <option value="married">Married</option>
                        <option value="single">Single</option>
                        <option value="complicated">Complicated</option>
                    </select>
                    <div *ngIf="(personalDetailsForm.get('maritalStatus')?.invalid || personalDetailsForm.get('maritalStatus')?.touched) && saveDetails" class="text-danger">
                        <small *ngIf="personalDetailsForm.get('maritalStatus')?.errors?.['required']">Marital status is required.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Nationality</label>
                    <select formControlName="nationality" class="form-select shadow-none">
                        <option value="">Select</option>
                        <option value="japan">Japan</option>
                        <option value="usa">USA</option>
                        <option value="england">England</option>
                        <option value="china">China</option>
                        <option value="canada">Canada</option>
                        <option value="brazil">Brazil</option>
                        <option value="south_korea">South Korea</option>
                        <option value="spain">Spain</option>
                        <option value="turkey">Turkey</option>
                        <option value="denmark">Denmark</option>
                        <option value="thailand">Thailand</option>
                        <option value="uae">UAE</option>
                        <option value="australia">Australia</option>
                        <option value="netherlands">Netherlands</option>
                        <option value="france">France</option>
                    </select>
                    <div *ngIf="(personalDetailsForm.get('nationality')?.invalid || personalDetailsForm.get('nationality')?.touched) && saveDetails" class="text-danger">
                        <small *ngIf="personalDetailsForm.get('nationality')?.errors?.['required']">Nationality is required.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label>Address details</label>
                    <textarea formControlName="address" class="form-control shadow-none" cols="30" rows="8"></textarea>
                    <div *ngIf="(personalDetailsForm.get('address')?.invalid || personalDetailsForm.get('address')?.touched) && saveDetails" class="text-danger">
                        <small *ngIf="personalDetailsForm.get('address')?.errors?.['required']">Address is required.</small>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="default-btn" >Save</button>
    </form>
</div>

<!-- video form -->

<div class="jove-card">
    <h3 class="title">
        Video
    </h3>
    <form [formGroup]="videoUploadForm" (ngSubmit)="onSubmitVideo()">
        <div class="form-group">
            <label for="video">Upload Video:</label>
            <input type="file" id="video"  accept="video/*" />
            <div *ngIf="(videoUploadForm.get('video')?.invalid || videoUploadForm.get('video')?.touched) && saveDetails" class="text-danger">
                <small *ngIf="videoUploadForm.get('video')?.errors?.['required']">Video is required.</small>
            </div>
        </div>
        <button type="submit" class="default-btn">
            Save
        </button>
    </form>
</div>

<!--CV form-->

<div class="jove-card">
    <h3 class="title">
        CV
    </h3>

    <form >
        <div class="form-group">
            <label for="pdfFile">Upload CV:</label>
            <input type="file" id="pdfFile" accept=".pdf" required />
        </div>
        <button type="submit" class="default-btn">
            Save
        </button>
    </form>
</div>


<!--Education Form-->

<div class="jove-card">
    <h3 class="title">Education</h3>
    <form [formGroup]="educationForm" (ngSubmit)="onSubmitEducation()">
      <div formArrayName="education">
        <!-- Loop through the education form array -->
        <div class="row" *ngFor="let educationGroup of education.controls; let i = index" [formGroupName]="i">

          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Degree Name</label>
              <input type="text" formControlName="degree_name" class="form-control shadow-none">
              <div *ngIf="educationGroup.get('degree_name')?.invalid && educationGroup.get('degree_name')?.touched" class="text-danger">
                Degree Name is required.
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>University Name</label>
              <input type="text" formControlName="school" class="form-control shadow-none">
              <div *ngIf="educationGroup.get('school')?.invalid && educationGroup.get('school')?.touched" class="text-danger">
                University Name is required.
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>From Year</label>
              <input type="text" formControlName="start_year" class="form-control shadow-none">
              <div *ngIf="educationGroup.get('start_year')?.invalid && educationGroup.get('start_year')?.touched" class="text-danger">
                From Year is required and must be a valid year.
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>To Year</label>
              <input type="text" formControlName="end_year" class="form-control shadow-none">
              <div *ngIf="educationGroup.get('end_year')?.invalid && educationGroup.get('end_year')?.touched" class="text-danger">
                To Year is required and must be a valid year.
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Description</label>
              <textarea formControlName="description" class="form-control shadow-none" rows="5" style="height: 150px; width: 100%;"></textarea>
              <div *ngIf="educationGroup.get('description')?.invalid && educationGroup.get('description')?.touched" class="text-danger">
                Description must be between 10 and 500 characters.
              </div>
            </div>
          </div>

          <!-- Show the delete button only for entries after the first one -->
          <div class="col-12" *ngIf="i > 0">
            <button type="button" class="remove-btn" (click)="removeEducationFormGroup(i)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>

        </div>
      </div>

      <div class="display justify-content-between">
        <button type="submit" class="default-btn" [disabled]="educationForm.invalid">Save</button>
        <button type="button" class="add-btn" (click)="addEducationFormGroup()">
          <i class="fa-solid fa-plus add-btn-icon"></i>ADD
        </button>
      </div>
    </form>

</div>




<!--Experience form-->

<div class="jove-card">
    <h3 class="title">Experience</h3>
    <form [formGroup]="experienceForm" (ngSubmit)="onSubmit()">
      <div formArrayName="experience">
        <!-- Loop through the experience form array -->
        <div class="row" *ngFor="let experienceGroup of experience.controls; let i = index; track experienceGroup" [formGroupName]="i">

          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Position</label>
              <input type="text" formControlName="position" class="form-control shadow-none">
              <div *ngIf="experienceGroup.get('position')?.invalid && experienceGroup.get('position')?.touched" class="text-danger">
                Position is required.
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Company Name</label>
              <input type="text" formControlName="companyName" class="form-control shadow-none">
              <div *ngIf="experienceGroup.get('companyName')?.invalid && experienceGroup.get('companyName')?.touched" class="text-danger">
                Company Name is required.
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>From Year</label>
              <input type="text" formControlName="fromYear" class="form-control shadow-none">
              <div *ngIf="experienceGroup.get('fromYear')?.invalid && experienceGroup.get('fromYear')?.touched" class="text-danger">
                From Year is required and must be a valid year.
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>To Year</label>
              <input type="text" formControlName="toYear" class="form-control shadow-none">
              <div *ngIf="experienceGroup.get('toYear')?.invalid && experienceGroup.get('toYear')?.touched" class="text-danger">
                To Year is required and must be a valid year.
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Description</label>
              <textarea formControlName="description" class="form-control shadow-none" rows="5" style="height: 150px; width: 100%;"></textarea>
              <div *ngIf="experienceGroup.get('description')?.invalid && experienceGroup.get('description')?.touched" class="text-danger">
                Description must be between 10 and 500 characters.
              </div>
            </div>
          </div>

          <!-- Show the delete button only for entries after the first one -->
          <div class="col-12" *ngIf="i > 0">
            <button type="button" class="remove-btn" (click)="removeExperienceFormGroup(i)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>

        </div>
      </div>

      <div class="display justify-content-between">
        <button type="submit" class="default-btn">Save</button>
        <button type="button" class="add-btn" (click)="addExperienceFormGroup()">
          <i class="fa-solid fa-plus add-btn-icon"></i>ADD
        </button>
      </div>
    </form>

</div>
