<section>
    <div class="reset-card">
        <div class="image">
            <i class="fa-solid fa-fingerprint"></i>
        </div>
        <h1>Set New Password?</h1>
        <p>Must be atleast 8 character.</p>

        <form>
            <div class="form-group">
                <div class="input-padd">
                    <label>
                        Password:
                    </label>
                    <input type="password" class="form-control shadow-none" placeholder="Password">
                </div>

                <div>
                <label>
                   Confirm Password:
                </label>
                <input type="password" class="form-control shadow-none" placeholder="Confirm Password">
                </div>
            </div>

            <button class="default-btn" routerLink="/">Reset</button>

        </form>

        <div class="back-login">
            <a href="/">
                <i class="fa-solid fa-arrow-left"></i>
                Back to Login
            </a>
        </div>
    </div>
</section>