<!-- Title -->
<div class="breadcrumb-title">
    <h1 class="mb-0 fw-semibold">
        Post A New Job!
    </h1>
</div>

<!-- Post A New Job -->
<div class="jove-card">
    <form [formGroup]="postJobForm">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label for="title">
                        Job title
                    </label>
                    <input id="title" type="text" class="form-control shadow-none" placeholder="Title" formControlName="title">
                    <div *ngIf="(postJobForm.get('title')?.touched || postJobForm.get('title')?.invalid) && next" class="text-danger">
                        <small *ngIf="postJobForm.get('title')?.errors?.['required']" class="text-danger">Job title is required.</small>
                        <small *ngIf="postJobForm.get('title')?.errors?.['minlength']" class="text-danger">Job title must be at least 5 characters long.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label for="description">
                        Job description
                    </label>
                    <textarea id="description" class="form-control shadow-none" cols="30" rows="8" placeholder="Welcome to a world of endless possibilities at Jove! It's not just a job search; it's a career evolution. Uncover your potential, chase your ambitions, and step into a realm where your dream job is not just a fantasy – it's waiting for you." formControlName="description"></textarea>
                    <div *ngIf="(postJobForm.get('description')?.touched || postJobForm.get('description')?.invalid) && next" class="text-danger">
                        <small *ngIf="postJobForm.get('description')?.errors?.['required']">Job Description is required</small>
                        <small *ngIf="postJobForm.get('description')?.errors?.['minlength']">Job Description must be at least 10 characters</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="email">
                        Email address
                    </label>
                    <input id="email" type="email" class="form-control shadow-none" formControlName="email">
                    <div *ngIf="(postJobForm.get('email')?.touched || postJobForm.get('email')?.invalid) && next" class="text-danger">
                        <small *ngIf="postJobForm.get('email')?.errors?.['required']">Email is required.</small>
                        <small *ngIf="postJobForm.get('email')?.errors?.['email']"> Please enter valid email address.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="username">
                        Username
                    </label>
                    <input id="username" type="text" class="form-control shadow-none" formControlName="username">
                    <div *ngIf="(postJobForm.get('username')?.touched || postJobForm.get('username')?.invalid) && next" class="text-danger">
                        <small *ngIf="postJobForm.get('username')?.errors?.['required']">Username is required.</small>
                        <small *ngIf="postJobForm.get('username')?.errors?.['minlength']">Username must be 4 characters long.</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label for="specialism">
                        Specialisms
                    </label>
                    <select id="specialism" class="form-select shadow-none" formControlName="specialism">
                        <option selected>Category</option>
                        <option value="Engineering">Engineering</option>
                        <option value="Banking">Banking</option>
                        <option value="Beauty Care">Beauty Care</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Construction">Construction</option>
                        <option value="Finance">Finance</option>
                    </select>
                    <div *ngIf="(postJobForm.get('specialism')?.touched || postJobForm.get('specialism')?.invalid) && next">
                        <small *ngIf="(postJobForm.get('specialism')?.errors?.['required'] && postJobForm.get('specialism')?.errors?.['invalidDropdown'])" class="text-danger">Please select a valid specialism.</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label for="category_id">
                        Category Id
                    </label>
                    <select  id="category_id" class="form-select shadow-none" formControlName="category_id">
                        <option selected>Select</option>
                        <option value="1">Backend Developer</option>
                    </select>
                    <div *ngIf="(postJobForm.get('category_id')?.touched || postJobForm.get('category_id')?.invalid) && next">
                        <small *ngIf="(postJobForm.get('category_id')?.errors?.['required'] && postJobForm.get('category_id')?.errors?.['invalidDropdown'])" class="text-danger">Please select a valid category id.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label for="jobType">
                        Job type
                    </label>
                    <select  id="jobType" class="form-select shadow-none" formControlName="jobType">
                        <option selected>Select</option>
                        <option value="Engineering">Engineering</option>
                        <option value="Banking">Banking</option>
                        <option value="Beauty Care">Beauty Care</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Construction">Construction</option>
                        <option value="Finance">Finance</option>
                    </select>
                    <div *ngIf="(postJobForm.get('jobType')?.touched || postJobForm.get('jobType')?.invalid) && next">
                        <small *ngIf="(postJobForm.get('jobType')?.errors?.['required'] && postJobForm.get('jobType')?.errors?.['invalidDropdown'])" class="text-danger">Please select a valid job type.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="salary">
                        Offered salary (monthly)
                    </label>
                    <select id="salary" class="form-select shadow-none" formControlName="salary">
                        <option selected>Select</option>
                        <option value="$1000">$1000</option>
                        <option value="$2000">$2000</option>
                        <option value="$3000">$3000</option>
                        <option value="$4000">$4000</option>
                        <option value="$5000">$5000</option>
                        <option value="$6000">$6000</option>
                    </select>
                    <div *ngIf="(postJobForm.get('salary')?.touched || postJobForm.get('salary')?.invalid) && next">
                        <small *ngIf="(postJobForm.get('salary')?.errors?.['required'] && postJobForm.get('salary')?.errors?.['invalidDropdown'])" class="text-danger">Please select salary.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="careerLevel">
                        Career level
                    </label>
                    <select id="careerLevel" class="form-select shadow-none" formControlName="careerLevel">
                        <option selected>Select</option>
                        <option value="Manager">Manager</option>
                        <option value="Officer">Officer</option>
                        <option value="Student">Student</option>
                        <option value="Executive">Executive</option>
                        <option value="Others">Others</option>
                    </select>
                    <div *ngIf="(postJobForm.get('careerLevel')?.touched || postJobForm.get('careerLevel')?.invalid) && next">
                        <small *ngIf="(postJobForm.get('careerLevel')?.errors?.['required'] && postJobForm.get('careerLevel')?.errors?.['invalidDropdown'])" class="text-danger">Please select career level.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="experience">
                        Experience
                    </label>
                    <select id="experience" class="form-select shadow-none" formControlName="experience">
                        <option selected>Select</option>
                        <option value="Fresher">Fresher</option>
                        <option value="1 year">1 year</option>
                        <option value="2 years">2 years</option>
                        <option value="3 years">3 years</option>
                        <option value="4 years">4 years</option>
                    </select>
                    <div *ngIf="(postJobForm.get('experience')?.touched || postJobForm.get('experience')?.invalid) && next">
                        <small *ngIf="(postJobForm.get('experience')?.errors?.['required'] && postJobForm.get('experience')?.errors?.['invalidDropdown'])" class="text-danger">Please select experience.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="gender">
                        Gender
                    </label>
                    <select id="gender" class="form-select shadow-none" formControlName="gender" >
                        <option selected>Select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Custom">Custom</option>
                    </select>
                    <div *ngIf="(postJobForm.get('gender')?.touched || postJobForm.get('gender')?.invalid) && next">
                        <small *ngIf="(postJobForm.get('gender')?.errors?.['required'] && postJobForm.get('gender')?.errors?.['invalidDropdown'])" class="text-danger">Please select gender.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="industry">
                        Industry
                    </label>
                    <select id="industry" class="form-select shadow-none" formControlName="industry">
                        <option selected>Select</option>
                        <option value="Engineering">Engineering</option>
                        <option value="Banking">Banking</option>
                        <option value="Beauty Care">Beauty Care</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Construction">Construction</option>
                        <option value="Finance">Finance</option>
                    </select>
                    <div *ngIf="(postJobForm.get('industry')?.touched || postJobForm.get('industry')?.invalid) && next">
                        <small *ngIf="(postJobForm.get('industry')?.errors?.['required'] && postJobForm.get('industry')?.errors?.['invalidDropdown'])" class="text-danger">Please select Industry.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="qualification">
                        Qualification
                    </label>
                    <select id="qualification" class="form-select shadow-none" formControlName="qualification">
                        <option selected>Select</option>
                        <option value="Certificate">Certificate</option>
                        <option value="Diploma">Diploma</option>
                        <option value="Bachelor Degree">Bachelor Degree</option>
                        <option value="Master’s Degree">Master’s Degree</option>
                        <option value="Associate">Associate</option>
                    </select>
                    <div *ngIf="(postJobForm.get('qualification')?.touched || postJobForm.get('qualification')?.invalid) && next">
                        <small *ngIf="(postJobForm.get('qualification')?.errors?.['required'] && postJobForm.get('qualification')?.errors?.['invalidDropdown'])" class="text-danger">Please select qualification.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label for="deadline">
                        Application deadline date
                    </label>
                    <input id="deadline" type="text" class="form-control shadow-none" placeholder="10 Nov 2023" formControlName="deadline">
                    <div *ngIf="(postJobForm.get('deadline')?.touched || postJobForm.get('deadline')?.invalid) && next">
                        <small *ngIf="postJobForm.get('deadline')?.errors?.['required']" class="text-danger">Application deadline date is required.</small>
                        <small *ngIf="postJobForm.get('deadline')?.errors?.['invalidDate']" class="text-danger"> Please enter a valid date.</small>
                        <small *ngIf="postJobForm.get('deadline')?.errors?.['pastDate']" class="text-danger">The date cannot be in the past.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="country">
                        Country
                    </label>
                    <select id="country" class="form-select shadow-none" formControlName="country">
                        <option value="Japan" selected>Japan</option>
                        <option value="USA">USA</option>
                        <option value="England">England</option>
                        <option value="China">China</option>
                        <option value="Canada">Canada</option>
                        <option value="Brazil">Brazil</option>
                    </select>
                    <div *ngIf="(postJobForm.get('country')?.touched || postJobForm.get('country')?.invalid) && next">
                        <small *ngIf="(postJobForm.get('country')?.errors?.['required'] && postJobForm.get('country')?.errors?.['invalidDropdown'])" class="text-danger">Please select country.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="city">
                        City
                    </label>
                    <select id="city" class="form-select shadow-none" formControlName="city">
                        <option value="Tokyo" selected>Tokyo</option>
                        <option value="New York">New York</option>
                        <option value="London">London</option>
                        <option value="Beijing">Beijing</option>
                        <option value="Toronto">Toronto</option>
                        <option value="Chicago">Chicago</option>
      
                    </select>
                    <div *ngIf="(postJobForm.get('city')?.touched || postJobForm.get('city')?.invalid) && next">
                        <small *ngIf="(postJobForm.get('city')?.errors?.['required'] && postJobForm.get('city')?.errors?.['invalidDropdown'])" class="text-danger">Please select city.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label for="completeAddress">
                        Complete address
                    </label>
                    <input id="completeAddress" type="text" class="form-control shadow-none" placeholder="84 Wexham Road RH19 8EA, USA" formControlName="completeAddress">
                    <div *ngIf="(postJobForm.get('completeAddress')?.touched || postJobForm.get('completeAddress')?.invalid) && next">
                        <small *ngIf="postJobForm.get('completeAddress')?.errors?.['required']" class="text-danger">Complete address is required.</small>
                        <small *ngIf="postJobForm.get('completeAddress')?.errors?.['minlength']" class="text-danger">Address must be 10 characters long.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="latitude">
                        Latitude
                    </label>
                    <input id="latitude" type="text" class="form-control shadow-none" formControlName="latitude">
                    <div *ngIf="(postJobForm.get('latitude')?.touched || postJobForm.get('latitude')?.invalid) && next">
                        <small *ngIf="postJobForm.get('latitude')?.errors?.['required']" class="text-danger">
                          Latitude is required.
                        </small>
                        <small *ngIf="postJobForm.get('latitude')?.errors?.['invalidLatitude']" class="text-danger">
                          Latitude must be a number between -90 and 90.
                        </small>
                      </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="longitude">
                        Longitude
                    </label>
                    <input id="longitude" type="text" class="form-control shadow-none" formControlName="longitude">
                    <div *ngIf="(postJobForm.get('longitude')?.touched || postJobForm.get('longitude')?.invalid) && next">
                        <small *ngIf="postJobForm.get('longitude')?.errors?.['required']" class="text-danger">
                          Longitude is required.
                        </small>
                        <small *ngIf="postJobForm.get('longitude')?.errors?.['invalidLongitude']" class="text-danger">
                          Longitude must be a number between -180 and 180.
                        </small>
                      </div>
                </div>
            </div>
        </div>
        <button type="submit" class="default-btn"  (click)="jobPost()">
            Next
        </button>
    </form>
</div>