// Breadcrumb Title
.breadcrumb-title {
    margin-bottom: 2vw;
    
    h1 {
        font-size: 1.7vw;
        font-family: "mon-bold";
        color: black;
    }
}

// Card
.jove-card {
    background-color: var(--whiteColor);
    margin-bottom: 2vw;
    border-radius: 1vw;
    padding: 2.5vw;

    .title {
        font-size: 1.2vw;
        font-family: 'mon-bold';
        color: black;
        margin-bottom: 2vw;
        border-bottom: 0.1vw solid var(--borderColor);
        padding: {
            left: 2.5vw;
            right: 2.5vw;
            bottom: 0.85vw;
        };
        margin: {
            left: -2.5vw;
            right: -2.5vw;
        };
    }
    form {
        .form-group {
            margin-bottom: 2vw;

            label {
                display: block;
                margin-bottom: 0.5vw;
                color: black;
                font-size: 1vw !important;
                font-family: 'mon-semi' !important;
            }
            .form-control {
                height: 3.3vw;
                padding: 0.8vw 1vw;
                border-radius: 0.3vw;
                font-size: 1vw;
                font-family: 'mon-reg';
                color: var(--headingColor);
                border: 0.1vw solid #e0e6e9;
                background-color: #f9fafb;
                transition: var(--transition);

                &::placeholder {
                    color: var(--bodyColor);
                }
                &:focus {
                    border-color: var(--primaryColor);
                }
            }
            .form-select {
                height: 3.3vw;
                cursor: pointer;
                padding: 0.8vw 1vw;
                border-radius: 0.3vw;
                font-size: var(--fontSize);
                color: var(--headingColor);
                border: 0.1vw solid #e0e6e9;
                transition: var(--transition);
                background: {
                    color: #f9fafb;
                    position: right 1.5vw center;
                };
                &:focus {
                    border-color: var(--primaryColor);
                }
            }
            textarea.form-control {
                height: auto;
                padding-top: 1.5vw;
            }
            &.upload-photo {
                padding-bottom: 2vw;
                border-bottom: 0.1vw solid var(--borderColor);

                input[type="file" i] {
                    margin-top: 0.3vw;
                }
                p {
                    line-height: initial;
                    margin-top: 0.85vw;
                    font: {
                        size: 14px;
                        style: italic;
                    };
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    // Breadcrumb Title
    .breadcrumb-title {
        h1 {
            font-size: 20px;
        }
    }

    // Card
    .jove-card {
        border-radius: 5px;
        padding: 20px 1vw;
    
        .title {
            font-size: 16px;
            margin-bottom: 1vw;
            padding: {
                left: 1vw;
                right: 1vw;
                bottom: 10px;
            };
            margin: {
                left: -1vw;
                right: -1vw;
            };
        }
        form {
            .form-group {
                margin-bottom: 1vw;
    
                label {
                    margin-bottom: 7px;
                }
                .form-control {
                    height: 48px;
                    font-size: 1vw;
                    padding: 10px 1vw;
                }
                .form-select {
                    height: 48px;
                    font-size: 1vw;
                    padding: 10px 1vw;
                    background: {
                        position: right 20px center;
                    };
                }
                textarea.form-control {
                    padding-top: 1vw;
                }
                &.upload-photo {
                    padding-bottom: 1vw;
    
                    p {
                        font-size: 13px;
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 990.1vw */
// @media only screen and (min-width : 768px) and (max-width : 990.1vw) {

//     // Breadcrumb Title
//     .breadcrumb-title {
//         h1 {
//             font-size: 22px;
//         }
//     }

//     // Card
//     .jove-card {
//         border-radius: 10px;
//         padding: 2vw;
    
//         .title {
//             font-size: 1.2vw;
//             padding: {
//                 left: 2vw;
//                 right: 2vw;
//                 bottom: 0.85vw;
//             };
//             margin: {
//                 left: -2vw;
//                 right: -2vw;
//             };
//         }
//         form {
//             .form-group {
//                 .form-control {
//                     padding: 10px 1.2vw;
//                     font-size: 1vw;
//                 }
//                 .form-select {
//                     padding: 10px 1.2vw;
//                     font-size: 1vw;
//                     background: {
//                         position: right 1.2vw center;
//                     };
//                 }
//                 textarea.form-control {
//                     padding-top: 1.2vw;
//                 }
//             }
//         }
//     }

// }

/* Min width 992px to Max width 1199px */
// @media only screen and (min-width : 992px) and (max-width : 1199px) {

//     // Card
//     .jove-card {
//         padding: 2vw;
    
//         .title {
//             padding: {
//                 left: 2vw;
//                 right: 2vw;
//             };
//             margin: {
//                 left: -2vw;
//                 right: -2vw;
//             };
//         }
//     }

// }
