<!-- Title -->
<div class="breadcrumb-title">
  <h1 class="mb-0 fw-semibold">
      Message
  </h1>
</div>

<!-- Messages -->
<div class="row">
  <div class="col-lg-4">
      <div class="jove-card">
          <form class="search-box position-relative">
              <input type="text" class="input-search" placeholder="Search...." >
              <button type="submit">
                  <i class="ri-search-line"></i>
              </button>
          </form>
          <div class="overflow-scroll">
              <span class="sub-title d-block position-relative">
                  <i class="ri-message-3-line"></i> All Message
              </span>
              <ul class="sidebar-list ps-0 list-unstyled mb-0">
                <li *ngFor="let user of users" (click)="loadChat(user)" class="position-relative d-flex align-items-center justify-content-between">
                  <span *ngIf="unreadCounts[user.id] > 0" class="unread-count">
                    {{ unreadCounts[user.id] }}
                  </span>
                  <div class="content d-flex align-items-center">
                    <div class="img position-relative">
                      <img [src]="user.profile_image" width="45" class="rounded-circle" alt="user-image">
                      <span class="active-status"></span>
                    </div>
                    <div class="title">
                      <h5 class="fw-semibold">{{ user.first_name }}</h5>
                      <span class="d-block">{{ user.status }}</span>
                    </div>
                  </div>
                  <div class="info text-end">
                    <span class="time d-block">{{ user.lastMessageTime }}</span>
                    <span class="badge" *ngIf="user.unreadMessages > 0">{{ user.unreadMessages }}</span>
                  </div>
                </li>
                <li *ngIf="users.length === 0">No Any Company For Chat</li> <!-- Optional loading message -->
              </ul>


          </div>
      </div>
  </div>

  <!-- Chat Area -->
  <div class="col-lg-8" *ngIf="selectedUser">
      <div class="jove-card chat-card">
          <div class="chat-header d-md-flex align-items-center justify-content-between">
              <div class="user d-flex align-items-center">
                  <img [src]="selectedUser.profile_image" width="50" class="rounded-circle" alt="user-image">
                  <div class="title">
                      <h5 class="fw-semibold">{{ selectedUser.first_name }}</h5>
                      <span class="d-block active position-relative">Active now</span>
                  </div>
              </div>
              <a (click)="closeChat()"  class="delete-conversation d-inline-block">
                  Close conversation
              </a>
          </div>

         <!-- Chat Body -->
        <div class="chat-body">
          <ul class="ps-0 list-unstyled mb-0">
              <li *ngFor="let message of messages"
                  [ngClass]="{'right': message.from_id === currentUserId}"
                  class="position-relative">
                  <img src="https://beforeigosolutions.com/wp-content/uploads/2021/12/dummy-profile-pic-300x300-1.png" width="50" class="rounded-circle user" alt="user-image">

                  <div class="message">
                      <div>
                          <p>{{ message.message }}</p>
                      </div>
                  </div>

                  <span class="time d-block">{{ message.created_at | date:'HH:mm' }}</span>
              </li>
          </ul>
        </div>

        <div class="chat-footer d-md-flex align-items-center">
              <div class="list">
                  <button class="bg-transparent p-0 border-0" type="button">
                      <i class="ri-emotion-line"></i>
                  </button>
              </div>
              <div class="position-relative" >
                <input type="text" class="input-text" [(ngModel)]="newMessage" placeholder="Type something..." required>
                <button type="submit" (click)="sendMessage()"><i class="ri-send-plane-fill"></i></button>
              </div>
          </div>
      </div>
  </div>
</div>
