<!-- Title -->
<div class="breadcrumb-title">
    <h1 class="mb-0 fw-semibold">Change Password</h1>
</div>

<!-- Change Password -->
<div class="jove-card">
    <form [formGroup]="changePassword" (ngSubmit)="changePwd()">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="oldPassword">Old password</label>
                    <input id="oldPassword" type="password" class="form-control shadow-none" formControlName="oldPassword">
                    <div *ngIf="changePassword.get('oldPassword')?.invalid && changePassword.get('oldPassword')?.touched" class="text-danger">
                        Old password is required.
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="newPassword">New password</label>
                    <input id="newPassword" type="password" class="form-control shadow-none" formControlName="newPassword">
                    <div *ngIf="changePassword.get('newPassword')?.invalid && changePassword.get('newPassword')?.touched" class="text-danger">
                        New password is required.
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label for="confirm_password">Confirm password</label>
                    <input id="confirm_password" type="password" class="form-control shadow-none" formControlName="confirm_password">
                    <div *ngIf="changePassword.get('confirm_password')?.invalid && changePassword.get('confirm_password')?.touched" class="text-danger">
                        Confirm password is required.
                    </div>
                    <div *ngIf="changePassword.errors?.['passwordMismatch'] && changePassword.get('confirm_password')?.touched" class="text-danger">
                        Passwords do not match.
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="default-btn" [disabled]="changePassword.invalid">
            Update
        </button>
    </form>
</div>
