section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-card {
    width: 30%;
    margin: auto;

    .image {
        background-color: #f4f7fb;
        width: 10vw;
        height: 10vw;
        margin: auto;
        border-radius: 50%;
        margin-bottom: 1.5vw;
        align-content: center;

        i {
            font-size: 4vw;
            color: var(--pinkColor);
            margin-left: 30%;
        }
    }

    h1 {
        font-size: 2vw;
        font-family: 'mon-bold';
        color: black;
        text-align: center;
    }

    p {
        font-size: 1.2vw;
        color: gray;
        text-align: center;
    }

    form {
        margin: 2vw 0 2vw;

        .form-group {
            width: 80%;
            margin: auto;
            margin-bottom: 2vw;
            display: flex;
            justify-content: space-between;

            .otp-input {
                height: 5.5vw;
                width: 22%;
                border-radius: 1vw;
                font-size: 2.5vw;
                font-family: "mon-bold";
                color: var(--headingColor);
                border: 0.1vw solid #dadcdd;
                background-color: #f9fafb;
                text-align: center;
                transition: var(--transition);

                &::placeholder {
                    color: var(--bodyColor);
                }

                &:focus {
                    border-color: var(--primaryColor);
                }
            }
        }

        .default-btn {
            font-family: 'mon-semi' !important;
            width: 100%;
            font-size: 1.2vw !important;
        }
    }

    .recieving {
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5vw;

        p{
            margin: 0 !important;
        }

        a {
            margin-left: 1%;
            font-family: "mon-semi";
            color: var(--pinkColor);
            font-size: 1.1vw;
        }
    }

    .back-login {
        text-align: center;

        a {
            font-size: 1.2vw;
            font-family: 'mon-semi';
            color: gray;
            display: inline-flex;
            align-items: center;
            transition: var(--transition);

            i {
                font-size: 1.2vw;
                margin-right: 0.5vw;
                color: gray;
                color: inherit;
            }

            &:hover {
                color: var(--pinkColor);
            }
        }
    }
}


/* Max width 767px */
@media only screen and (max-width : 767px) {

    .reset-card {
        width: 80%;

        .image {
            width: 30vw;
            height: 30vw;
            margin-bottom: 4vw;

            i {
                font-size: 11vw;
                margin-left: 32%;
            }
        }

        h1 {
            font-size: 6vw;
        }

        p {
            font-size: 3.8vw;
        }

        form {
            margin: 5vw 0 5vw;

            .form-group {
                width: 85%;
                margin-bottom: 5vw;

                label {
                    margin-bottom: 3vw;
                    font-size: 3.5vw !important;
                }

                .form-control {
                    height: 15vw;
                    border-radius: 3vw;
                    font-size: 9vw;
                }
            }

            .default-btn {
                font-size: 3vw !important;
            }
        }

        .recieving {
            margin-bottom: 4vw;
    
            a {
                font-size: 3.8vw;
            }
        }

        .back-login {

            a {
                font-size: 3.5vw;

                i {
                    font-size: 3.5vw;
                    margin-right: 1.5vw;
                }

            }
        }
    }

}