<footer>
    <div class="d-flex">
        <div class="logo-sec">
            <a href="">
                <img src="../../../../assets/images/white-market-logo.png" alt="">
            </a>
            <h2>Find Us On Social Media</h2>
            <div class="social-icon d-flex justify-content-between">
                <div class="icon-size">
                    <a href="">
                        <img src="../../../../assets/images/insta-icon.png" alt="">
                    </a>
                </div>
                <div class="icon-size">
                    <a href="">
                        <img src="../../../../assets/images/fb-icon.png" alt="">
                    </a>
                </div>
                <div class="icon-size">
                    <a href="">
                        <img src="../../../../assets/images/linkdin-icon.png" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="seeker">
            <div class="seeker-sec">
                <h4>Job Seekers</h4>
                <ul>
                    <li>Job Search</li>
                    <li>Upload Your Resume</li>
                    <li>Career Resources</li>
                    <li>Employers</li>
                </ul>
            </div>

            <div class="seeker-sec ">
                <h4 style="margin: 0;">Post a Job</h4>
                <ul style="margin: 0;">
                    <li>Employer Resources</li>
                    <li>Legal</li>
                </ul>
            </div>

            <div class="seeker-sec ">
                <h4 style="margin: 0;">Privacy Ploicy</h4>
                <ul style="margin: 0;">
                    <li>Terms of Service</li>
                    <li>Cookie Policy</li>
                </ul>
            </div>
        </div>

        <div class="seeker company-info">
            <div class="seeker-sec">
                <h3>Company Information</h3>
                <ul class="info">
                    <li>About Us</li>
                    <li>Careers</li>
                    <li>Blog</li>
                </ul>
            </div>

            <div class="seeker-sec">
                <h3 style="margin: 0;">Site Navigation</h3>
                <ul class="info">
                    <li>Sitemap</li>
                    <li>FAQs</li>
                </ul>
            </div>
        </div>

        <div class="contact">
            <h3>Contact Us</h3>
            <div class="address">
                <h6>Address</h6>
                <h6>1234 Job Street, Suit 100, City, State, ZIP</h6>
            </div>
            <div class="address">
                <h6>Phone</h6>
                <h6>(123) 456-7890</h6>
            </div>
            <div class="address">
                <h6>Email</h6>
                <h6>support&#64;jobsite.com</h6>
            </div>
        </div>


    </div>
</footer>