<div class="testimonials-area pb-100" [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}">
  <div class="main">
      <div class="section-title text-start d-lg-flex d-sm-flex justify-content-between">
          <h2>What they say about us</h2>

          <ul class="nav nav-tabs border-0">
              <li class="nav-item d-inline-block" [ngClass]="{'active': currentTab === 'tab1'}">
                  <button type="button" class="nav-link fw-semibold position-relative shadow-none border-0 mb-0 rounded-0" (click)="switchTab($event, 'tab1')">
                      Clients
                  </button>
              </li>
              <li class="nav-item d-inline-block" [ngClass]="{'active': currentTab === 'tab2'}">
                  <button type="button" class="nav-link fw-semibold position-relative shadow-none border-0 mb-0 rounded-0" (click)="switchTab($event, 'tab2')">
                      Candidates
                  </button>
              </li>
          </ul>
      </div>

      <div class="tab-content">
          <div class="tab-pane fade d-block opacity-100" id="tab1" *ngIf="currentTab === 'tab1'">
              <owl-carousel-o [options]="testimonialsSlides">
                  <ng-template carouselSlide *ngFor="let testimonial of filteredTestimonials">
                      <div class="testimonial-item position-relative">
                          <div class="rating">
                              <i *ngFor="let star of [].constructor(testimonial.rating)" class="ri-star-fill"></i>
                              <i *ngFor="let star of [].constructor(5 - testimonial.rating)" class="ri-star-line"></i>
                          </div>
                          <p [innerHTML]="testimonial.txt"></p> <!-- Render HTML content -->
                          <div class="info d-flex align-items-center">
                              <img src="assets/images/profile-pic.jpg" class="rounded-circle" alt="user-image"> <!-- Default image -->
                              <div>
                                  <h4 class="fw-semibold">{{ testimonial.client_name }}</h4>
                                  <span class="d-block">{{ testimonial.position }}, {{ testimonial.company }}</span>
                              </div>
                          </div>
                          <div class="quote">
                              <i class="ri-double-quotes-r"></i>
                          </div>
                      </div>
                  </ng-template>
              </owl-carousel-o>
          </div>

          <div class="tab-pane fade d-block opacity-100" id="tab2" *ngIf="currentTab === 'tab2'">
              <owl-carousel-o [options]="testimonialsSlides">
                  <ng-template carouselSlide *ngFor="let testimonial of filteredTestimonials">
                      <div class="testimonial-item position-relative">
                          <div class="rating">
                              <i *ngFor="let star of [].constructor(testimonial.rating)" class="ri-star-fill"></i>
                              <i *ngFor="let star of [].constructor(5 - testimonial.rating)" class="ri-star-line"></i>
                          </div>
                          <p [innerHTML]="testimonial.txt"></p> <!-- Render HTML content -->
                          <div class="info d-flex align-items-center">
                              <img src="assets/images/users/user2.png" class="rounded-circle" alt="user-image"> <!-- Default image -->
                              <div>
                                  <h4 class="fw-semibold">{{ testimonial.client_name }}</h4>
                                  <span class="d-block">{{ testimonial.position }}, {{ testimonial.company }}</span>
                              </div>
                          </div>
                          <div class="quote">
                              <i class="ri-double-quotes-r"></i>
                          </div>
                      </div>
                  </ng-template>
              </owl-carousel-o>
          </div>
      </div>
  </div>
</div>
